<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
       <Pattern>%d{HH:mm:ss.SSS} %-5level %msg %n</Pattern>
    </layout>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${user.home}/.passerelle/modelRunner.log</file>
    <append>false</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
       <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="FILE_DAWB" class="ch.qos.logback.core.FileAppender">
    <file>${user.home}/.dawb/workflow.log</file>
    <append>false</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} %-5level [thread=%thread] [class=%logger{36}] - %msg %n</Pattern>
    </layout>
  </appender>
<!--
  <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
    <RemoteHost>localhost</RemoteHost>
    <Port>4321</Port>
    <ReconnectionDelay>10000</ReconnectionDelay>
    <IncludeCallerData>${includeCallerData}</IncludeCallerData>
  </appender>
-->

  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
    <appender-ref ref="FILE_DAWB" />
    <!--   <appender-ref ref="SOCKET" /> -->
  </root>
  
</configuration>
